@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0B0F17] text-slate-300 text-sm antialiased font-sans overflow-x-hidden;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #0B0F17;
}

::-webkit-scrollbar-thumb {
  background: #1E293B;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

